@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}


.house-img {
  height: 150px;
  width: 150px;
}
.navbar {
  border: 1px solid rgb(214, 214, 214);
  background-color: white;
  display: flex;
  height: 2rem;
  width: 100%;
  z-index: 1;
}

.navbar .bi {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top:0;
}

.main {
  position:relative;
  top: 2.1rem;
  max-width: 70rem;
  margin: 0 auto;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  background-color: white;
  border-bottom: 1px solid wheat;
  display:flex;
  position: absolute;
  right: 1rem;
}

.gem:after, .coin:after, .cash:after {
  position: relative;
  top: -.4rem;
  left: -.5rem;
}

.gem:after {
  content: "50";
}

.coin:after {
  content: "50";
}

.cash:after {
  content: "50";
}

.card {
  display:flex;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;
  border-radius: 1rem;
  border: 1px solid rgb(214, 214, 214);
}

.card i {
  padding: .5rem 2rem;
  font-size: 9rem;
}

.description {
  align-self: flex-start;
  margin-left: 2rem;
}

.button-right {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-left: 1px solid rgb(214, 214, 214);
}

@media only screen and (max-device-width: 800px) {

  .navbar {
    flex-flow: column;
    height: 100%;
    width: 3rem;
  }

  .center {
    justify-content: space-evenly;
  }

  .navbar .bi {
    margin: 0;
    font-size: 2rem;
  }

  .right {
    position: fixed;
    top: 0;

  }

  .right .bi {
    margin: 1rem;
    background-color: white;
  }


  .house-img {
    height: 150px;
    width: 150px;
  }
  

  /* Content */

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .card {
    width: 9rem;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card .description {
    margin-left: 0;
  }

  .card .description p, .card .button-right {
    display: none;
  }

  .card i {
    font-size: 5rem;
  }

  .card h1 {
    position: relative;
    font-size: 1rem;
  }

}